// vars

// blocks
browser-warning-block             := {
  display                         : none
}

browser-warning-visible-block     := {
  margin-top                      : 0
  color                           : #fff
  background                      : lightness(#ff0000, 20%)
  display                         : block
  padding                         : 1em
  width                           : 100%
  top                             : 0
  z-index                         : 10000
}

// rules
.browser-warning
  {browser-warning-block}

.lt-ie9 .browser-warning
  position                        : fixed
  {browser-warning-visible-block}
