// vars

// blocks
misc-tap-block                        := {
  -webkit-tap-highlight-color         : rgba(0, 0, 0, 0)
}

misc-input-block                      := {
  -webkit-appearance                  : none
  -webkit-border-radius               : 0
  border-radius                       : 0
  outline                             : none
}

// rules
a, input, label
  {misc-tap-block}

input
  {misc-input-block}
