.b-content-menu
  margin-bottom                     : 2rem;
  background                        : $base02;
  padding                           : 1rem;
  a
    color                           : $base1;
