s-pointer-disabled-block    := {
  pointer-events            : none
}

s-disabled-block            := {
  opacity                   : .6
}

.s-pointer-disabled
  {s-pointer-disabled-block}

.s-disabled
  @extend .s-pointer-disabled;
  {s-disabled-block}
