// vars
$s-disabled-opacity         := .6;

// placeholders
$s-pointer-disabled
  pointer-events            : none

// blocks
s-disabled-block            := {
  opacity                   : $s-disabled-opacity
}

// rules
.s-pointer-disabled
  @extend $s-pointer-disabled

.s-disabled
  @extend $s-pointer-disabled
  {s-disabled-block}
