// vars
$err := rgba(red($red), green($red), blue($red), .8);

// rules
.b-capture
  padding: 1rem;
  background: $base02;
  font-size: 1.6rem;
  margin: 0 0 2rem 0;
  h4
    sup
      float: right;
      margin-top: 1.6rem;
      position: static;
      font-size: 1.4rem;
      line-height: .8rem;
      color: $base1;
      .c-required
        position: relative;
        line-height: inherit;
        &:after
          position: relative;
          top: 1rem;

  fieldset
    padding: 0;
    border: 0;
  fieldset:not(:last-child)
    margin: 0 0 1rem 0;
  fieldset:last-child
    margin: 2rem 0 0 0;
  fieldset > input[type='submit']:not(:last-child)
  fieldset > input[type='reset']:not(:last-child)
    margin: 0 1rem 0 0;

  label.err
    background: $err;
    padding: .5rem .5rem .5rem .5rem;
    font-size: 1.3rem;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  input.err
  select.err
  textarea.err
    border: 1px solid $err;

  label
  input
    position: relative;
  label
  select
  input:not([type='submit']):not([type='reset'])
    display: block;
    width: 100%;
  input[type='text']
  input[type='email']
    background: $base2;
    color: $base03;
    +placeholder()
      color: $base01;
  .c-required
    display: inline-block;
    color: $red;
    font-size: 3rem;
    line-height: 3rem;
    &:after
      content: '*';
  label .c-required
    position: absolute;
    top: 0;
    right: 0;
  label
    color: $base3;
  textarea
  select
    background: $base2;
    color: $base03;
    width: 100%;
    +placeholder()
      color: $base01;
  // modifiers
  &.m-colon
    fieldset label[for]:not(.err):after
      content: ':';

.b-capture-confirm
  padding: 1rem;
  background: $base02;
  font-size: 1.6rem;
  min-height: 215px;
  margin: 0 0 2rem 0;
