// vars
$b-size                                     := 3rem;
// TODO: use better names for the percent size variables
$b-percent-width                            := 12%;
$b-horizontal-width                         := 20%;
$b-space                                    := .5rem;
$b-poll-bg                                  := $base02;
$b-poll-fg                                  := $base3;
$b-poll-padding                             := 1rem;

// placeholders
$poll {
  position                                  : relative;
  padding                                   : $b-poll-padding;
  background                                : $b-poll-bg;
  color                                     : $b-poll-fg;
  margin-bottom                             : 2rem;
}

// blocks

// rules
.b-poll
  @extend $poll
  .b-opt
    cursor                                  : pointer;
    user-select                             : none;
  .b-option
    background                              : $base03;
    &:hover
    &.s-selected
      background                            : lighten($blue, 60%);
  .b-option:not(:last-child)
    margin                                  : 0 0 1rem 0;

  // horizontal modifier rules
  &.m-horizontal
    .b-option
      display                               : inline-block;
      width                                 : 30%;
      .b-opt
        .c-percent
          width                             : $b-horizontal-width;
        .c-progress
          left                              : $b-horizontal-width;
        .c-lbl
          left                              : $b-horizontal-width;
      &:not(:last-child)
        margin                              : 0 5% 0 0;

.b-poll-summary
  @extend $poll
  .b-option
    &.s-selected
      .c-percent
        background                          : $green !important;

.c-index
  position                                  : relative;
  display                                   : inline-block;
  background                                : $green;
  color                                     : $b-poll-fg;
  line-height                               : $b-size;
  text-align                                : center;
  width                                     : 8%;

.c-index + .b-option
  display                                   : inline-block;
  width                                     : 92%;

.b-option
  position                                  : relative;
  padding                                   : .2rem;
  text-shadow                               : $base02 1px 1px;

.b-opt
  position                                  : relative;
  line-height                               : $b-size;
  display                                   : block;
  .c-bg
    position                                : absolute;
    display                                 : block;
    background                              : darken($blue, 40%);
    min-height                              : $b-size;
    width                                   : 100%;
    height                                  : 100%;
  .c-progress
    position                                : absolute;
    background                              : $blue;
    line-height                             : $b-size;
    left                                    : $b-percent-width;
    top                                     : 0;
    width                                   : 0;
    height                                  : 100%;
  .c-lbl
    position                                : relative;
    top                                     : 0;
    display                                 : inline-block;
    padding                                 : 0 .5rem 0 .5rem;
    //left                                    : $b-percent-width;
  .c-percent
    position                                : relative;
    top                                     : 0;
    display                                 : inline-block;
    background                              : $violet;
    text-align                              : center;
    min-width                               : $b-percent-width;
    //font-size                               : 1.2rem;
  .c-percent[hidden] + .c-progress,
  .c-percent[hidden] + .c-progress + .c-lbl
    left                                    : 0;

.right
  .c-progress
  .c-lbl
    left                                    : 0;
  .c-percent
    position                                : absolute !important;
    right                                   : 0;
