a[href] 
  cursor: $a-cursor;

a[href], a[href]:visited, a[href]:hover, a[href]:active
  outline: $a-outline;
  background: $a-bg-color;
  color: $a-fg-color;
  font-weight: $a-fw;
  text-decoration: none;
  border-bottom: 1px dotted;
  border-color: inherit;
