@require '../vars';

body
  font-family: $body-ff;
  background: $body-bg-color;
  color: $body-fg-color;
  // currently ems cause chrome bug misinterpreting rems on body element
  font-size: 1.5em;
  line-height: 1.6;
