// vars

// blocks
button-block            := {
  border                : 0
  background            : transparent
  padding               : 0
  -webkit-appearance    : none
}

// rules
button
input[type=button]
  {button-block}
