code
  font-family: $code-ff;
  line-height: $code-lh;
  {code-block}

:not(pre) > code
  /*font-size: $code-fs;*/
  background: $code-bg-color;
  color: $code-fg-color;
  padding: $code-padding;
  border-radius: $code-br;
  {inline-code-block}
