html
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: $html-bs;
  font-size: $html-fs;
  {html-block}

// @stylint off
*, *:before, *:after
// @stylint on
  box-sizing: $wildcard-bs;
