// vars
$img-border                   := 0;

// blocks
img-block                     := {
  border                      : $img-border
  outline                     : none
  background-clip             : content-box
}

// rules
img
  {img-block}
