input
  appearance: none;
  border: 0;
  // TODO: remove the !important
  border-radius: 2px !important;
  padding: 1rem;
  &[type='submit']
  &[type='reset']
    display: inline-block;
    padding: 1rem;
    // TODO: remove the !important
    width: auto !important;
