@require '../vars';

pre
  background: $pre-bg-color;
  color: $pre-fg-color;
  padding: $pre-padding;
  border-radius: $pre-br;
  font-family: $pre-ff;
  font-size: $pre-fs;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
