select
  border: 0;
  border-radius: 2px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  &[multiple]
    // 5 rows, 1.6rem * 5 = 8 rem + padding (2rem * 5)
    min-height: 18rem;
  option
    padding: 1rem;
