b-poll-lock-block                   := {
  position                          : absolute
  left                              : 0
  top                               : 0
  pointer-events                    : none
  width                             : 100%
  height                            : 100%
  padding                           : 1rem
  background                        : rgba(0, 0, 0, .5)
}

b-poll-padlock-block                := {
  position                          : absolute
  top                               : 0
  right                             : 0
  display                           : inline-block
  background                        : $black
  width                             : 32px
  height                            : 32px
  background-image                  : url('../img/padlock.png')
  background-repeat                 : no-repeat
  background-position               : center center
}

.b-poll-lock
  {b-poll-lock-block}
  .padlock
    {b-poll-padlock-block}
