// vars

// blocks
b-poll-lock-block                   := {
  left                              : 0
  top                               : 0
  pointer-events                    : none
  width                             : 100%
  height                            : 100%
  padding                           : 1rem
  background                        : rgba(0, 0, 0, .5)
}

b-poll-padlock-block                := {
  top                               : 0
  right                             : 0
  display                           : inline-block
  background                        : $black
  width                             : 32px
  height                            : 32px
  background-image                  : url('../img/padlock.png')
  background-repeat                 : no-repeat
  background-position               : center center
}

// rules
.b-poll-lock
  // NOTE: must be declared here due to stylus bug w/ position declaration
  position                            : absolute;
  {b-poll-lock-block}
  .padlock
    // NOTE: must be declared here due to stylus bug w/ position declaration
    position                          : absolute;
    {b-poll-padlock-block}
