// @stylint off
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
// @stylint on

// blocks
fade-out-block               := {
  -webkit-animation-name    : fadeOut
  animation-name            : fadeOut
}

// rules
.fadeOut
  {fade-out-block}
