// @stylint off
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
// @stylint on

fade-in-block               := {
  -webkit-animation-name    : fadeIn
  animation-name            : fadeIn
}

.fadeIn
  {fade-in-block}
