// @stylint off
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
// @stylint on

// TODO: add block

// rules
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
