// vars

// blocks
btn-block               := {
  background            : $base01
  padding               : .4rem
  color                 : $base3
  line-height           : normal
  border-radius         : 2px
}

btn-hover-block         := {
  text-decoration       : none
}

btn-primary-block       := {
  background            : $primary-color
}

btn-success-block       := {
  background            : $success-color
}

btn-warn-block          := {
  background            : $warn-color
}

btn-error-block         := {
  background            : $error-color
}

// rules
.c-btn
// increased specificity required
a.c-btn
input[type=button]
button.c-btn
  {btn-block}
  &:hover
    {btn-hover-block}
  &.primary
    {btn-primary-block}
  &.success
    {btn-success-block}
  &.error
    {btn-error-block}
  &.warn
    {btn-warn-block}
