.c-btn
// increased specificity required
a.c-btn
input[type=button]
button.c-btn
  {btn-block}
  &:hover
    {btn-hover-block}
  &.primary
    {btn-primary-block}
  &.success
    {btn-success-block}
  &.error
    {btn-error-block}
  &.warn
    {btn-warn-block}
