// blocks
// .c-dd, .c-dd-toggle, .c-dd-list, .c-dd-item
dropdown-block          := {}
dropdown-toggle-block   := {}
dropdown-list-block     := {
  display               : none
}

dropdown-item-block     := {
  display               : block !important
}

// rules
.c-dd
  {dropdown-block}
  .c-dd-toggle
    {dropdown-toggle-block}
  .c-dd-list
    {dropdown-list-block}
    .c-dd-item
      {dropdown-item-block}
