// blocks
// .c-dd, .c-dd-toggle, .c-dd-list, .c-dd-item
dropdown-block          := {
}
dropdown-toggle-block   := {}
dropdown-list-block     := {
  max-width             : 280px
  top                   : 18px
  left                  : 0
}

dropdown-item-block     := {
  display               : block !important
}

// rules
.c-dd
  {dropdown-block}
  position                  : relative
  .c-dd-toggle
    {dropdown-toggle-block}
  .c-dd-list
    {dropdown-list-block}
    // not recognised when in block declaration :(
    position                : absolute
    .c-dd-item
      {dropdown-item-block}
