// blocks
// .c-dd, .c-dd-toggle, .c-dd-list, .c-dd-item
dropdown-block          := {}

dropdown-toggle-block   := {
  background            : $base3
  color                 : $base01
  padding               : .4rem
  line-height           : normal
  border-radius         : 2px
}

dropdown-list-block     := {
  background            : $base3
  max-width             : 280px
  min-width             : 180px
  top                   : 2.5rem
  right                 : 0
  border-radius         : 2px
}

dropdown-item-block     := {
  display               : block !important
  color                 : $base02 !important
  padding-right         : .5rem
}

// rules
.c-dd
  {dropdown-block}
  position                  : relative
  z-index                   : 1000
  .c-dd-toggle
    {dropdown-toggle-block}
  .c-dd-list
    {dropdown-list-block}
    // not recognised when in block declaration :(
    position                : absolute
    .c-dd-item
      {dropdown-item-block}
      &:hover
        background: $base1;
