// vars
$c-label-bg                 := $base02;
$c-label-fg                 := $base3;
$c-label-br                 := 2px;
$c-label-padding            := .5rem;

// blocks
c-label-block               := {
  background                : $c-label-bg
  color                     : $c-label-fg
  border-radius             : $c-label-br
  padding                   : $c-label-padding
}

// rules
.c-label
  {c-label-block}
