// vars

// blocks
msg-block               := {
  background            : monochrome($base02)[1]
  padding               : .3rem
  color                 : $base3
  padding               : 1rem
  line-height           : normal
}

msg-hover-block         := {
  text-decoration       : none
}

msg-primary-block       := {
  background            : monochrome($primary-color)[1]
}

msg-success-block       := {
  background            : monochrome($success-color)[1]
}

msg-warn-block          := {
  background            : monochrome($warn-color)[1]
}

msg-error-block         := {
  background            : $error-color
}

// rules
.c-msg
  {msg-block}
  &.primary
    {msg-primary-block}
  &.success
    {msg-success-block}
  &.error
    {msg-error-block}
  &.warn
    {msg-warn-block}
