// vars
$nav-last-child-margin-right    := 0;

// blocks
nav-block                       := {
  margin-bottom                 : 1em
}

nav-item-block                  := {
   display                      : inline-block
   margin                       : 0 1em 0 0
   float                        : left
}

// rules
.c-nav
  {nav-block}
  @extend $clearfix !optional
  .c-nav-item
    {nav-item-block}
    &:last-child
      margin-right: $nav-last-child-margin-right;
