// vars
$c-panel-bg               := $base02;
$c-panel-fg               := $base3;
$c-panel-br               := 0;
$c-panel-padding          := 1rem;

// blocks
panel-block               := {
  background              : $c-panel-bg
  color                   : $c-panel-fg
  border-radius           : $c-panel-br
  padding                 : $c-panel-padding
}

// rules
.c-panel
  {panel-block}
