// vars
$c-star-bg                        := $magenta;
$c-star-fg                        := $white;
$c-star-size                      := 3rem;

// blocks
star-block                        := {
  display                         : inline-block
  z-index                         : 1
  right                           : -1.5rem
  top                             : -1.5rem
  background                      : $c-star-bg
  color                           : $c-star-fg
  width                           : $c-star-size
  height                          : $c-star-size
  font-size                       : 1.5rem
  text-align                      : center
  padding                         : .3rem 0 0 0
  user-select                     : none
}

star-before-after-block           := {
  content                         : ''
  top                             : 0
  left                            : 0
  height                          : 3rem
  width                           : 3rem
  background                      : $c-star-bg
  z-index                         : -1
}

star-before-block                 := {
  transform                       : rotate(30deg)
}

star-after-block                  := {
  transform                       : rotate(60deg)
}

// rules
.c-star
  position                        : absolute
  {star-block}
  &:before, &:after
    position                      : absolute
    {star-before-after-block}
  &:before
    {star-before-block}
  &:after
    {star-after-block}
