@require "variable";

a[href] 
  cursor: pointer;

a[href], a[href]:visited, a[href]:hover, a[href]:active
  outline: none;
  color: $primary-color;
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
  border-color: inherit;
