.browser-warning
  display: none;

.lt-ie9 .browser-warning
  color: #fff;
  background: lightness(#ff0000, 20%);
  position: fixed;
  display: block;
  padding: 1em;
  width: 100%;
  top: 0;
  z-index: 10000;
