html
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

a, input, label
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

input
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius:0;
  outline: none;
