.lt-ie9
  #browser-warning
    color: #fff;
    background: #fff;
    position: fixed;
    display: block;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 10;
    .warning
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0
      background: #eb38a4;
      width: 700px;
      height: 200px;
      .message
        padding: 40px;
        h3
          font-size: 28px;
          margin-top: 0;
          font-weight: normal;
        p
          font-size: 18px;
        a
          text-decoration: underline;

#browser-warning
  display:none;
