// blocks
mock-small-image                      := {
  background                          : $base02
  background-image                    : url('../img/pattern.png')
  width                               : 150px
  height                              : 150px
}

// rules
.mock.small
  {mock-small-image}
