// blocks
mock-video                            := {
  background                          : $base02
  background-image                    : url('../img/pattern.png')
  width                               : 100%
  height                              : 250px
}

mock-mini-image                       := {
  background                          : $base02
  background-image                    : url('../img/pattern.png')
  width                               : 75px
  height                              : 75px
  vertical-align                      : top
}

mock-small-image                      := {
  background                          : $base02
  background-image                    : url('../img/pattern.png')
  width                               : 150px
  height                              : 150px
}


// rules
.mock.video
  {mock-video}

.mock.image.mini
  {mock-mini-image}

.mock.image.small
  {mock-small-image}

.journey
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  padding: 0;
  &.m-fixed
    table-layout:fixed;
  .group
    display: table-row-group;
  .row
    display: table-row;
    border-spacing: 10px;
    border-collapse: separate;
  .cell
    display: table-cell;
    vertical-align: top;
    margin: 0;
    &:not(:last-child)
      padding-right: 15px;

aside
  background: $base0;
  color: $base02;
  padding: 2rem;
  margin-bottom: 2rem;
  > p
    margin-bottom: 0 !important;

.mock.image:not(:last-child)
  margin: 0 15px 0 0;
