// template blocks

template-body-block     := {
  text-align            : center
}

template-main-block     := {
  display               : inline-block
  padding               : 2rem 1.5rem
  text-align            : left
  max-width             : 738px
}

template-h1-block       := {
  display               : inline-block
}

template-p-block        := {
  font-size             : 2.4rem
  line-height           : 3rem
  margin-bottom         : 2rem
}

template-small-block    := {
  margin-bottom         : 2rem
  display               : block
  font-size             : 100%
}

template-logo-block     := {
  background            : url('../../assets/img/logo.png') transparent no-repeat
  background-size       : 145px 64.5px
  min-width             : 145px
  min-height            : 64.5px
  margin                : 0 0 3rem 0
}

// template styles
body
  {template-body-block}

main
  {template-main-block}

h1
  {template-h1-block}

p:not(.browser-warning)
  {template-p-block}

small
  {template-small-block}

.logo
  {template-logo-block}
