// template styles
body
  text-align: center;

main
  display: inline-block;
  padding: 2rem 1.5rem;
  text-align: left;
  max-width: 738px;

p:not(.browser-warning)
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;

.logo
  background: url('../img/logo.png') transparent no-repeat;
  width: 290px;
  height: 129px;
  margin: 0 0 3rem 0;
