/* COLOR VARIABLES */

$white                  := #fff;
$black                  := #000;

// solarized colours
$base03                 := #002b36;
$base02                 := #073642;
$base01                 := #586e75;
$base00                 := #657b83;
$base0                  := #839496;
$base1                  := #93a1a1;
$base2                  := #eee8d5;
$base3                  := #fdf6e3;
$yellow                 := #b58900;
$orange                 := #cb4b16;
$red                    := #dc322f;
$magenta                := #d33682;
$violet                 := #6c71c4;
$blue                   := #268bd2;
$cyan                   := #2aa198;
$green                  := #859900;

// intended to be default foreground color
$normal-color           := $base00;

// should always be a light color
$bright-color           := $base3;

// should always be a dark color
$dark-color             := $base03;

// named color variants
$muted-color            := $base01;
$primary-color          := $blue;
$info-color             := $cyan;
$note-color             := $violet;
$tip-color              := $yellow;
$warn-color             := $orange;
$danger-color           := $red;
$success-color          := $green;

// should be opposite contrast to the default color
// themes with light and dark variations should invert
// the default and inverse colors
$inverse-color          := $base2;

/* ELEMENT VARIABLES */

// <html>
$html-bs                := border-box;

// html is set to 62.5% so that all the REM measurements 
// are based on 10px sizing. So basically 1.5rem = 15px
$html-fs                := 62.5%;

// *, *:before, *:after
$wildcard-bs            := inherit;

// <body>
$body-bg-color          := $base03;
$body-fg-color          := $normal-color;
$body-ff                := sans-serif;
// currently ems cause chrome bug misinterpreting rems on body element
$body-fs                := 1.5em;
$body-lh                := 1.6;

// <h1> - <h6>
$heading-color          := $base2;

// <p>
$p-mt                   := 0;

// <a href>
$a-cursor               := pointer;
$a-outline              := none;
$a-bg-color             := transparent;
$a-fg-color             := $primary-color;
$a-fw                   := inherit;
$a-td                   := none;

// <code>
$code-bg-color          := $base02;
$code-fg-color          := $cyan;
$code-padding           := 2px;
$code-br                := 3px;
$code-ff                := monospace;
$code-fs                := 2rem;
$code-lh                := 1.2;

// <pre>
$pre-bg-color           := inherit;
$pre-fg-color           := inherit;
$pre-padding            := 0;
$pre-br                 := 0;
$pre-ff                 := monospace;
$pre-fs                 := 2rem;

// <kbd>
$kbd-ff                 := monospace;
$kbd-fs                 := 2rem;

/* ELEMENT BLOCK STYLES - NOTE: CANNOT USE $ */

// a[href]:hover
a-hover =
  border-bottom         : 1px dotted
  border-color          : inherit
