$white              = #fff;
$black              = #000;

// solarized colours

$base03 =    #002b36;
$base02 =    #073642;
$base01 =    #586e75;
$base00 =    #657b83;
$base0 =     #839496;
$base1 =     #93a1a1;
$base2 =     #eee8d5;
$base3 =     #fdf6e3;
$yellow =    #b58900;
$orange =    #cb4b16;
$red =       #dc322f;
$magenta =   #d33682;
$violet =    #6c71c4;
$blue =      #268bd2;
$cyan =      #2aa198;
$green =     #859900;

// intended to be the default background color
$default-color          := $base03;

// intended to be the default background color
$default-fg-color       := $base2;

// <body>
$body-bg-color          := $base03;
$body-fg-color          := $base2;
$body-ff                := sans-serif;

// <code>
$code-bg-color          := $base02;
$code-fg-color          := $cyan;
$code-padding           := 2px;
$code-br                := 3px;
$code-ff                := monospace;
$code-fs                := 2rem;

// <pre>
$pre-bg-color          := inherit;
$pre-fg-color          := inherit;
$pre-padding           := 0;
$pre-br                := 0;
$pre-ff                := monospace;
$pre-fs                := 2rem;

// <kbd>
$kbd-ff                 := monospace;
$kbd-fs                 := 2rem;

// intended to be the default text color
$normal-color := $base00;

// should always be a light color
$bright-color := $base3;

// should always be a dark color
$dark-color := $base03;

// variants
$muted-color := $base01;
$primary-color := $blue;
$info-color := $cyan;
$note-color := $violet;
$tip-color := $yellow;
$warn-color := $orange;
$danger-color := $red;
$success-color := $green;

// should be opposite contrast to the default color
// themes with light and dark variations should invert
// the default and inverse colors
$inverse-color := $base2;

// main colors
/*$default-color := $base2;*/
/*$shade-color := $base3;*/
/*$muted-color := $base1;*/
// invert inverse color
/*$inverse-color := $base02;*/

// specific colors
/*$body-bg-color := $base2;*/
/*$body-color := $base01;*/

/*$header-bg-color := $base3;*/
/*$header-color := $base03;*/
/*$header-link-color := $base02;*/

/*$nav-bg-color := $base2;*/
/*$nav-border-color := $base1;*/
/*$nav-hover-bg := $base3;*/
/*$code-inline-bg-color := $base3;*/

/*$header-text-shadow-color := $base1;*/

/*$sample-bg-color := $base3;*/
/*$sample-title-bg-color := $base2;*/
/*$sample-title-color := $base01;*/

/*$scrollbar-track-color := $base02;*/
/*$scrollbar-track-opacity := .1;*/
/*$scrollbar-thumb-color := $base3;*/

/*$notify-message-bg-color := $base2;*/
/*$notify-color := $base03;*/
