@import "kouto-swiss";

u-pl-block            := {
  float               : left
}

u-pr-block            := {
  float               : right !important
}

$clearfix
  clearfix();

.u-cf
  @extends $clearfix;

.u-pl
  {u-pl-block}

.u-pr
  {u-pr-block}
