u-tr-block          := {
  text-align        : right
}

u-tl-block          := {
  text-align        : left
}

u-tc-block          := {
  text-align        : center
}

.u-tr
  {u-tr-block}

.u-tl
  {u-tl-block}

.u-tc
  {u-tc-block}
