// vars

// blocks
media-small-h1-block          := {
  font-size                   : 5.0rem
}

media-small-h2-block          := {
  font-size                   : 4.2rem
}

media-small-h3-block          := {
  font-size                   : 3.6rem
}

media-small-h4-block          := {
  font-size                   : 3.0rem
}

media-small-h5-block          := {
  font-size                   : 2.4rem
}

media-small-h6-block          := {
  font-size                   : 1.5rem
}

// blocks
@media (min-width: 550px)
  h1
    {media-small-h1-block}
  h2
    {media-small-h2-block}
  h3
    {media-small-h3-block}
  h4
    {media-small-h4-block}
  h5
    {media-small-h5-block}
  h6
    {media-small-h6-block}
